

.contact{
      margin: auto;
      text-align: center;
      align-items: center;
      height: 75vh;
 
 }

.form{
     width: 68%;
    margin:55px auto;
  }

 .form__right{
     float: right;
     width: 46%;
 }
 .form__right img{
     height: 100px;
     width: 80%;
 }

 .fom__left{
     float: left;
     width: 54%;
     display: flex;
     flex-direction: column;
     text-align: left;
   }
 .h__form{
     color:#6D4BD8 ;
     font-weight: bolder;
     font-size: 35px;
 }
 .form__P{
     color: #707070;
     font-size: 18px;
 }
 .all__inputss{
     padding-top: -6%;
 }
 .input{
     width:86%;
     border: 1px solid #70707049;
     text-align: left;
     padding-left: 12px;
     outline: none;
     height: 39px;
     color: #707070ce;

     margin: 30px 0px 0px 0;
 }

 .inputs{
    width:100%;
    border: 1px solid #70707049;
    text-align: left;
    padding:4px 0px 0px 12px;
    outline: none;
    height: 30vh;
    font-size: 13px;
    font-weight: bold;
  color: #7070707a;
  }
 .inputt:hover{
    border: 1px solid #6D4BD8;
color: #6D4BD8 ;
 }





 .Send__send{
    text-transform: uppercase;
background-color: #6D4BD8;
color: white;
font-size: 15px;
font-weight: bold;
width: 10%;
height: 48px;
border: none;
margin-top: -60px;
border-radius: 5px;
outline: none;
 text-align: center;
font-family:'Montserrat-SemiBold' ;

 }





 .inputt{
    width:100%;
    border: 1px solid #70707049;
    text-align: left;
    padding-left: 12px;
    outline: none;
    height: 42px;
    color: #707070ce;

    margin: 25px 0px 0px 0;
}













 .Send{
    text-transform: uppercase;
background-color: #6D4BD8;
color: white;
font-size: 15px;
font-weight: bold;
width: 10%;
height: 48px;
border: none;
border-radius: 5px;

 text-align: center;
font-family:'Montserrat-SemiBold' ;

 }
 .Sends {
margin-top: -38px; }
 .ss{
    visibility: hidden;
 }


.im__age{
    padding-top: 33px;

}
 .register{
      width: 80%;
 }
 .form__rights{
    float: right;
     width: 50%;
 }
 .form__register{
     width: 100%;
     height: 82vh;
     border-radius: 2px;
     margin-top: -44px;
     display: flex;
     flex-direction: column;
     text-align: center;
      background-color: #FFFFFF;
     box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
 }
 .fom__lefts{
    float: left;
    width: 48%;
    display: flex;
    flex-direction: column;
    text-align: left;
 }
 .tab{
     padding: 33px  33px 10px  33px ;
     justify-content: center;
     text-align: center;
     
 }
.div__hr{
    width: 2px;
    background-color: #00000069;
    margin: 15px 12px 0px 12px;
    height: 30px;
}
 .css-1lhkxgv {
    border-bottom: 0px solid;
    border-color: rgba(0, 0, 0, 0.12);
    -webkit-align-items: center;
    -webkit-box-align: center;
    display: flex;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #000 !important;
    font-size: 18px;
}
.css-1aquho2-MuiTabs-indicator{
    display: none;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    font-size: 18px !important;
    text-transform: none !important;

    color: #707070 !important;
}
.flex__tab{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: auto;
}
.first__input{
    outline: none;
    height: 35px;
     background: #F9FAFF;
    border: 1px solid #D4DCFF;
}
.bloc__tab{
    margin: 5px;
    font-family:'Montserrat-SemiBold' ;
    font-size: 12px;
    color: #7e7e81;

}
.bloc__tab p{

    padding-bottom: 12px;
}
.a__ll__s{
    display: block;
     align-items: left;
    text-align: left;
}
.flex__tabs{
    display: block;
    align-items: left;
   text-align: left;
     width: 87%;
   
    text-align: left;
    margin: auto;
}


.first__inputs{
    outline: none;
    height: 35px;
 
    width: 100%;
     background: #F9FAFF;
    border: 1px solid #D4DCFF;
}
.pp p{
    color: #7e7e81;
font-size: 11px;
padding: 12px 0px 12px 0px;
}
.Account{
    text-transform: uppercase;
    background-color: #6D4BD8;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 50%;
    height: 40px;
    margin-top: 33px;
    border: none;
    border-radius: 5px;
      text-align: center;
    font-family:'Montserrat-SemiBold' ;
}
.h__forms{
    color:#6D4BD8 ;
    font-weight: bolder;
    font-size: 40px;
}

.form__Ps{
    color: #70707085;
    font-size: 13px;
    width: 72%;
    font-family:'Montserrat-SemiBold' ;
}

.li__right{
    text-align: right;
    padding-top: 6px;
 
}
.a__A__a{
    color: #6D4BD8;
    font-size: 13px;
list-style: none;
}
li{
    list-style: none;

}
.Accounts{
     background-color: #6D4BD8;
    color: white;
    font-size: 12px;
     width: 12%;
    height: 40px;
     border: none;
    border-radius: 3px;
    outline: none;

      text-align: center;
      font-family:'Montserrat-Bold' ;
      position:absolute;                 
                bottom:5%; 
}
.butt_pn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__password{
    width: 100%;
    height: 52vh;
    margin-top: -28px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    border-radius: 3px;
     background-color: #FFFFFF;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.form__rights__password{
    float: right;
    width: 46%;
 }

 .Reset{
    background-color: #6D4BD8;
   color: white;
   font-size: 12px;
    width: 44%;
   height: 42px;
    border: none;
   border-radius: 3px;
   outline: none;
     text-align: center;
     font-family:'Montserrat-Bold' ;
     position:absolute;                 
               bottom:8%; 
}
.butt_pn__pass{
    display: flex;
    flex-direction: column;
    justify-content: center;padding-top: 22px;
    align-items: center;
}

.Terms__p{
    width: 65%;
     margin-bottom: 22px;
     color: #707070;
     font-size: 13px;
}


.TermsCondition{
    float: left;
    width: 84%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .h__form__tearms{
    color:#6D4BD8 ;
    font-weight: bolder;
    font-size: 32px;
    padding-bottom: 22px;
}
.chek{
    text-transform: uppercase;
    background-color: #6D4BD8;
    color: white;
    font-size: 13px;
    font-weight: bold;
    width: 70%;
    height: 37px;
     border: none;
     border-radius: 5px;
     outline: none;
      text-align: center;
    font-family:'Montserrat-SemiBold' ;
   
    color: #FFFFFF;
}
.arrow{
     justify-content: space-between;
   right:14%;
    outline: none;
    border-radius: 50%;
     color: #FFFFFF;
        position: absolute;

 }
.header__search{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    direction: rtl;
    position: absolute;
    bottom:10%;
   }
  
.Close__all{
    padding: 12px 0px 0px 0px;
}
  
.Close{
    background-color: #6D4BD8;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 77%;
    height: 40px;
     border: none;
     border-radius: 5px;
     outline: none;
      text-align: center;
    font-family:'Montserrat-SemiBold' ;
   
    color: #FFFFFF;
}

/* about Us */
.form__rights__about{
    float: right;
    padding-top: 15px;
    width: 60%;
 }
 .fom__lefts__about{
    float: left;
    width: 38%;
    margin-top: -35px;
     display: flex;
    flex-direction: column;
    text-align: left;
 }

 .about{
    width: 90%;
}

.h__form__about{
    color:#6D4BD8 ;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 22px;
}

.about__p{
    width: 105%;
     margin-bottom: 22px;
     color: #707070;
     font-size: 13px;
}

.form__P__contat{
    color: #707070;
    font-size: 15px;
}
.all__inputsss{

    margin-top: 28px;
}

.fom__lefts__contact{
    float: left;
    width: 48%;
    display: flex;
    flex-direction: column;
    text-align: left;
 }