.items{
    display: flex;
    align-items: center;
}
.items__image{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 12px;
    background-color: #6D4BD8;

}
.products__P{
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 12px;
    text-align: left;
    font-family: 'Poppins';
    padding-left: 5px;
}
.p1{
color: #969696;
}
.p2{
    color: #6D4BD8;

}

.select{
    border: none;
    color: blueviolet;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    padding-left: 25px;
}
.body__products{
    width: 100%;
    position: relative;
    z-index: -1;
height: 100vh;
    background-image: url("../images/back.png");  

}

.bodyProduct__one__all{
    width: 82%;
     padding-top: 110px;
    margin: auto;
 
  }
  .bodyProduct__secand{
    float: right;
       display: flex;
       align-items: center;
       justify-content: center;
       padding-left: 22px;
   width: 40%;
   
  
  }
  .MaskProducts{
    z-index: 100;
    width: 45%;
   height: 21%;
 }
 .bodyprduct__one{
    width: 30%;
    margin: auto;
   position: absolute;
     display: flex;
     left: 15%;
    flex-direction: column;
      
    }
.bodyprduct__one h1{
 
        font-size: 48px;
        line-height: 1.4;
    color: white;
        font-weight: 700;
   
}
 
.yellow{
    width: 15%;
    right: 12%;
padding-top: 55px;
position: absolute;
    height: 67vh;
   }
   .p__products{
       width: 105%;
       font-family: 'Comfortaa';
       color: #ffffff94;
       font-size: 14px;
       font-weight: 400;
       padding-top: 28px;
   }
   .toggle-switch-container {
    align-content: center;
    padding-left: 8px;
  }
  
  .toggle-switch {
    margin: 0;
  }
  
  .toggle-switch {
    width: 10px;
    position: relative;
  }
  
  .toggle-switch input {
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }
  
  .toggle-switch input:checked {
    z-index: 1;
  }
  
  .toggle-switch input:checked + label {
    opacity: 1;
    cursor: default;
  }
  
  .toggle-switch input:not(:checked) + label:hover {
    opacity: 0.5;
  }
  
 
  
  .toggle-switch .toggle-outside {
    height: 100%;
    border-radius: 17px;
    padding: 8px;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out;
  }
  
  .toggle-switch .toggle-inside {
    border-radius: 50%;
     position: absolute;
    transition: all 0.3s ease-in-out;
  }
  

  .switch-vertical input {
    height: 100%;
    width: 60px;
    right: 0;
    margin: 0;
  }
  
  
  .switch-vertical .toggle-outside {
     position: absolute;
     height: 12px;
     right: 0;
    border: 1px solid white;
    top: 0;
  }
  
  .switch-vertical .toggle-inside {
    height: 12px;
  
    left: 2px;
    background-color: white;
    top: 3px;
    width: 12px;
  }
  
  .switch-vertical input:checked ~ .toggle-outside .toggle-inside {
    top: 13px;

  }
  
  .switch-vertical input ~ input:checked ~ .toggle-outside .toggle-inside {
    top: 13px;
  }
 .s__p{
     display: block;
     padding-top: 22px;
 }
  .swi__p{
      color: #FFE482;
      font-size: 16px;
      padding-top: 18px;
      font-family:'Montserrat-SemiBold' ;
      text-transform: uppercase;

  }
   
  .section__container{
      width: 73%;
       text-align: center;
      margin: auto;
  }
  .section__containrt{
    background-color: #FFFFFF;
    width: 72%;
    display: flex;
    height: 100px;
    padding-top: 12px;
    align-items: center;
    margin: auto;
  }
  .product_flex{
      background-color: #FFFFFF;
      width: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .product_flex img {
      width: 90px;
  }
  .G{
    width: 55px !important;
 
  }
  .last{
    width: 120px !important;

  }
  .secand__in{
       width: 52%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
  }
  .h___secand{
      color: #6D4BD8;
      font-family: 'Comfortaa';
      font-weight: bold;
      font-size: 44px;
  }
  .imgs{
      width:99%;
  }
   .imgss{
    width:65%;
}
.sectiontherd{
    width: 100%;
    height: 70vh;
    background-image: url("../images/nices.png");  
 }

 
 .fan{
     width: 92%;
 }
 
.sectiontherd__all{
  margin: auto;
   display: flex;
}
 
.body__one__section__all{
    width: 78%;
    margin: auto;
    display: flex;

  }
.body__one__section{
    width: 36%;
    margin: auto;
    padding-top: 12%;
   position: absolute;
     display: flex;
     left: 15%;
    flex-direction: column;
      
    }
    .same{
        text-transform: uppercase;
color: white;
font-size: 38px;
font-family: 'Dubai';
    }
    .diifrent{
        text-transform: uppercase;
        color:#FFCE1F;
        font-family: 'Dubai';
        font-size: 35px;


    }
    .sectionfoure{
        display: flex;
        flex-direction: column;
        align-items: center;
 
        text-align: center;
 
    }
    .sectionfoure h3{
      padding: 25px 0px 8px 0;
      font-size: 26px;
      font-weight: 600;
    }
    .size{
        width: 29%;
        font-size: 15px;
        font-family: 'Dubai';
        font-weight: 400;
        color: #353535;
    }
    .j{
      width: 100%;
      height: 490vh;
    }
    .grid__all {
 
      display: grid;
       
      grid-template-columns: repeat(3, 1fr);
       
      grid-auto-rows: auto;
       grid-gap: 1rem;
      width: 85%;
      margin:22px  auto;

      }




      .grid__pna img{
        max-height:90%;
        min-width: 100%;
        object-fit: cover;
               }
                  .grid__pna {
                     background-color: #E9F9F2;
                height: 66vh;
                display: flex;
                justify-content: center;
                align-items: center;
                   border-radius: 4px;
                      
                   }
.end__card{
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
   width: 95%  !important;
 }

 

.names{
  color: #000000;
  font-size: 13px;
  font-weight: bold;
}
.smalls{
  color: #676767;
font-size:11px;
}

.title{
  color: #BBBBBB;
  font-size: 10px;
  font-weight: 400;
  padding-top: 22px;
}










      .grid__pn img{
  height:80%;
  min-width: 140%;
  object-fit: cover;
         }
            .grid__pn {
               background-color: #FFF7EC;
          height: 48vh;
          display: flex;
          justify-content: center;
          align-items: center;
             border-radius: 4px;
                
             }


             .grid__pns img{
              height:90%;
              min-width: 100%;
              object-fit: cover;
                      }
                        .grid__pns {
                           background-color: #FFF7EC;
                      height: 48vh;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                         border-radius: 4px;
                            
                         }
            




                         .grid__pnss img{
                          height:90%;
                          min-width: 100%;
                          object-fit: cover;
                                  }
                                    .grid__pnss {
                                       background-color: #F3FFE8;
                                  height: 48vh;
                                  display: flex;
                                  justify-content: center;
                                  align-items: center;
                                     border-radius: 4px;
                                        
                                     }
                        


 






      .grids img{
height:90%;
        min-width: 90%;
        object-fit: cover;
      }
            .grids {
              text-align: left;
              background-color: #FFF2FD;
          height: 60vh;
             border-radius: 4px;
             display: flex;
             align-items: center;
             justify-content: center;
       margin-top: -75px;
               
             }





/* 


.grid img{
  max-height:110%;
  max-width: 100%;
  }
      .grid {
        text-align: left;
        background-color: #a594a2;
    height: 66vh;
       border-radius: 4px;
        width: 90%;
         
       }
        
       
.slid{
  
  background-image: url("../images/Rec.png");  
height: 50vh;
  width: 85.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}
.slid img{
padding: 12px 0px 12px 0px;
  height:11%;
  min-width: 10%;
 }   .j{
  background-color: #969696;
  width: 100%;
  height: 300vh;
}
.grid__all {

  display: grid;
   
  grid-template-columns: repeat(3, 1fr);
   
  grid-auto-rows: auto;
   background-color: teal;
  grid-gap: 1rem;
  width: 85%;
  margin:22px  auto;

  }




  .grid__pna img{
    max-height:90%;
    min-width: 100%;
    object-fit: cover;
           }
              .grid__pna {
                 background-color: #E9F9F2;
            height: 66vh;
            display: flex;
            justify-content: center;
            align-items: center;
               border-radius: 4px;
                  
               }


 */
















  .grid__pn img{
height:80%;
min-width: 140%;
object-fit: cover;
     }
        .grid__pn {
           background-color: #FFF7EC;
      height: 48vh;
      display: flex;
      justify-content: center;
      align-items: center;
         border-radius: 4px;
            
         }


         .grid__pns img{
          height:90%;
          min-width: 100%;
          object-fit: cover;
                  }
                    .grid__pns {
                       background-color: #FFF7EC;
                  height: 48vh;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                     border-radius: 4px;
                        
                     }
        




                     .grid__pnss img{
                      height:90%;
                      min-width: 100%;
                      object-fit: cover;
                              }
                                .grid__pnss {
                                   background-color: #F3FFE8;
                              height: 48vh;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                                 border-radius: 4px;
                                    
                                 }
                    









  .grids img{
height:90%;
    min-width: 90%;
    object-fit: cover;
  }
        .grids {
          text-align: left;
          background-color: #FFF2FD;
      height: 60vh;
         border-radius: 4px;
         display: flex;
         align-items: center;
         justify-content: center;
   margin-top: -75px;
           
         }








.grid img{
max-height:110%;
max-width: 100%;
}
  .grid {
    text-align: left;
 height: 66vh;
   border-radius: 4px;
    width: 90%;
     
   }
    
   
.slid{

background-image: url("../images/Rec.png");  
height: 50vh;
width: 80.5%;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
margin:44px auto;
}
.slid img{
padding: 12px 0px 12px 0px;
width: 22% !important;
}
.body__one__dec{
margin: auto;
display: flex;
flex-direction: column;

}
.dercoration{
  width: 80%;
   margin: 22px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 .body__as__As{
  float: right;

  width: 40%;
 }
 .body__ones__as__dec{
   width: 60%;
    text-align: left;
  }
 .decs{
   padding-top: 22px;
   display: flex;
   align-items: center;
   direction: rtl;
   width: 95%;
   margin: auto;
 }
 .dec{
   width: 88%;
 }
 .at__last{
   color: #0C0C0D;
 }

 .p__dec{
   font-family: 'Comfortaa';
  color: #353535;
  font-size: 14px;
  text-align: left;
  float: left;
  align-items: left;
  font-weight: 400;
  width: 48%;
  padding-top: 28px;
}
.other__sections{
   width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.card__number {
 
  display: grid;
   width: 70%;
   margin: auto;
   display: flex;
   justify-content: space-between;
   grid-template-columns: repeat(4, 1fr);
   
  grid-auto-rows: auto;
   
  grid-gap: 1rem;
   
  }
.part__S{
  display: block;
}
.part__S h1{
  color: #6D4BD8;
  font-size: 48px;
}
.part__S p{
 color: #0C0C0D;
 font-size: 14px;
 font-weight: 600;
}
.card__number__mat {
 
  display: grid;
   width: 80%;
   margin: 33px auto;
   display: flex;
   justify-content: space-between;
   grid-template-columns: repeat(4, 1fr);
   
  grid-auto-rows: auto;
   
  grid-gap: 1rem;
   
  }

  .css-u1yj35-MuiPaper-root-MuiCard-root{
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2 ) !important;

  }
  .footer__card{
    text-align: left;
    display: flex;
    padding-top: 12px;
    padding-left: 8px;
    flex-direction: column;
  }
  .footer__card p{
color: #0C0C0D;
font-weight: 600;
padding: 12px 0px 5px 0px;
  }
  .footer__card span{
    color: #353535;
    font-size: 9px;
    padding: 8px 0px 22px 0px;
  }
  .end__all__sections{
     width: 87%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  .end__all__sections h1{
    color: #0C0C0D;
    font-weight: 500;
    font-size: 30px;
  }


  .end{

     height: 50vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    }
    .slick-list {
    
    width: 100% !important;
    }

    .maps{
      padding: 18px 0px 12px 0;
    }
    