 
 
 *{
   padding: 0;
   margin: 0;
 }


 @font-face {
  font-family:'Montserrat-Black' ;
  src: url("./Fonts/Montserrat-Black.ttf");
}

@font-face {
  font-family:'Montserrat-BlackItalic' ;
  src: url("./Fonts/Montserrat-BlackItalic.ttf");
}
@font-face {
  font-family:'Montserrat-Bold' ;
  src: url("./Fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family:'Montserrat-BoldItalic' ;
  src: url("./Fonts/Montserrat-BoldItalic.ttf");
}
@font-face {
  font-family:'Montserrat-ExtraBold' ;
  src: url("./Fonts/Montserrat-ExtraBold.ttf");
}


@font-face {
  font-family:'Montserrat-ExtraBoldItalic' ;
  src: url("./Fonts/Montserrat-ExtraBoldItalic.ttf");
}

@font-face {
  font-family:'Montserrat-ExtraLight' ;
  src: url("./Fonts/Montserrat-ExtraLight.ttf");
}
@font-face {
  font-family:'Montserrat-ExtraLightItalic' ;
  src: url("./Fonts/Montserrat-ExtraLightItalic.ttf");
}

@font-face {
  font-family:'Montserrat-Italic' ;
  src: url("./Fonts/Montserrat-Italic.ttf");
}

@font-face {
  font-family:'Montserrat-Light' ;
  src: url("./Fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family:'Montserrat-LightItalic' ;
  src: url("./Fonts/Montserrat-LightItalic.ttf");
}
@font-face {
  font-family:'Montserrat-Medium' ;
  src: url("./Fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family:'Montserrat-MediumItalic' ;
  src: url("./Fonts/Montserrat-MediumItalic.ttf");
}

@font-face {
  font-family:'Montserrat-Regular' ;
  src: url("./Fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family:'Montserrat-SemiBold' ;
  src: url("./Fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family:'Montserrat-SemiBoldItalic' ;
  src: url("./Fonts/Montserrat-SemiBoldItalic.ttf");
}


@font-face {
  font-family:'Montserrat-Thin' ;
  src: url("./Fonts/Montserrat-Thin.ttf");
}
@font-face {
  font-family:'Montserrat-ThinItalic' ;
  src: url("./Fonts/Montserrat-ThinItalic.ttf");
}
 

















 .header{
  background-color:#FFFFFF;
  width: 100%;
position: sticky;
   height: 93px;
 }
 .header__containrt{
   background-color: #FFFFFF;
   width: 70%;
   display: flex;
   height: 83px;
   align-items: center;
   margin: auto;
 }
 a{
  text-decoration: none;
  list-style-type: none;
  padding: 0px 15px 0px 15px;  
   font-weight: bolder;
  font-size: 11px;
  color: #3EC5EF;

  }
 
  ul{
    display: flex;
    align-items: center;
  }
  ul li{
    display: flex;
    align-items: center;

    list-style: none;
   }
  .com__ul{
    display: flex;
    align-items: center;
  }
  .circle{
  width: 19px;
  align-items: center;
  text-align: center;
  height: 19px;
  justify-content: space-evenly;
  border-radius: 50%;
  background-color: #3EC5EF;
  padding: 2px;
  margin: 5px;
  }
.order__noe{
  width: 80px;
height: 26px;
border-radius: 10px;
background-color: #3EC5EF;
border:none;
color:white;
font-weight: bold;
margin: 0px 12px 0px 12px;
font-size: 10px;

}
.personal{
  color: white;
}
ul li a.active{
  color: #4F2E85;
}
.im__ge{
  display: flex;
  align-items: center;
  flex: 1;
  padding: 12px;
}
 .im__ge img{
   width: 144px;

  }

   
  .footer{
    width: 100%;
    background-color: #4F2E85;
    height: 80vh;
    align-items: center;
    justify-content: center;

  }
  .footer__contaner{
    display: flex;
    width: 90%;
    margin: auto;
    height: 55vh;
     padding-top: 55px;
   }
  .part{
    display: block;
    padding-top: 55px;
    width: 33%;
   }
   .part img{
     width: 40px;
   }
   .ul{
    display: block;
  }
  .grid__all{
    display: flex;
    justify-content: space-between;
   }
  .a__a{
    color: white;
    font-size: 20px;
    padding:4px 0px 8px 0;
    font-weight: 600;

  }
  .ct_footer{
    margin-bottom: 12px;
  }
  .p__footer{
    padding-top:12px ;
     font-weight: 600;
    font-size: 13px;
    color: #DCDCDC;
    width: 68%;
  }
  .App__stores{
    display: flex;
    padding-top: 30px;
    align-items: center;
    
  }
  .ct_footer{
    color: white;
     font-weight: bold;
    padding: 35px 0px 12px 0px;
    font-size: 20px;
   }
    .hr__h{
      width: 66%;
       margin:5px auto;
      height: 1;
      border-top: 2px  #ffffff96;
       color: #ffffff96;
    }
    .bottom{
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 12px 0;
      font-size: 18px;
      color: white;
    }
    .div__a{
      display: flex;
       justify-content: space-between;
      width: 220px;
      align-items: center;
    }
    .boxx__Store{
      display: flex;
        margin: 5px;
       padding: 2px;
      height: 30px;
      width: 105px;
       border-radius: 7px;
       border: 1px solid rgb(194, 194, 194);
    
    }
    .dilog{
      width: 265px;
      height: 266px;
       display: flex;
       position: relative;
       flex-direction: column;
       border-radius: 5px;
       background-color: #FFFFFF;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
 
     .massg{
      height: 150px;
      width: 140px;
  overflow-y: auto;

        position: absolute !important;  
               top: -28%;
      }
    .di__log{
      width: 72%;
      color: #6D4BD8;
      font-size: 18px;
      padding: 12px 0px 12px 0px;
      font-family:'Montserrat-SemiBold' ;

    }
    .css-1t1j96h-MuiPaper-root-MuiDialog-paper{

     /* background-color: rgba(202, 202, 202, 0) !important; */
     -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 5px;
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
    margin: 32px;
     overflow-y: auto;
   
    display: flex;
    -webkit-flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 490px;
    /* height: 500px; */
    max-height: calc(100% - 64px);
    max-width: 640px;
}




/* Extra small devices (phones, 600px and down) */
@media (max-width: 575.98px) { 
  .header{
     width: 100%;

  }
  .items__image{
    display: none;
  }
  .products__P {
  font-size: 10px !important;
  }
  body{
    width: 100%;
     overflow-x: hidden !important;
  }
  .header__containrt{
    width: 99%;
    margin: auto;
  }
  .im__ge img{
    width: 60px;
  }
  a{
    padding: 8px !important;
  }
  body[dir="rtl"] .body__one{
    width: 32% !important;
    right: 60% !important;
  }
  body[dir="rtl"] .body__secand{
    width: 42% !important;
  }
  .circle{
    display: none;
  }
  .order__noe{
  display: none;
  }
  .body__secand{
    width: 100% !important;
  }
  .desgin__div{
    width: 100% !important;

    position: none !important;
  }
  .body__one__all{
    width: 100% !important;
    justify-content: center;
     display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
  }
  .desgin__div ,.circel__body{
    display: none !important;
  }
  .App__store{
    display: none !important;
  }

  .body__one {
    top: 12% !important;
    left: 5% !important;
  }
  .body__secand{
    display: block !important;
  }
  .Mask {
    left: 45%;
    z-index: 100;
    position: absolute;
    height: 420px !important;
  }
  h1 {
    font-size: 30px !important;
  }
  .body {
height: 73vh !important;
  }
  .body___home__body{
    width: 100% !important;
  }
  .section__body__thireds{
    display: none !important;
  }
  
  .all {
    height: 85vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;}
.cards {
     grid-template-columns: repeat(2, 1fr) !important;
     width: 80%;
     margin: auto;
}
.body___home__two {
  
  height: 300px;
  width: 85% !important;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.body___home__therd{
  height: 86vh  !important;
}
.section{
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center
}
.section__right{
  width: 90% !important;
}
.p__spacing{

  font-size: 20px !important;
  margin-top: 22px ;
}
.body___home__one img{
  width: 250px !important;
}
.x {
  width: 0px !important;
}
.product_flex{
  width: 60% !important;
}
.bodyprduct__one h1{
  font-size: 15px !important;
}
.p__products {
width: 130% !important;
}
.section__containrt{
  width: 90% !important;
}

.grid__all {
   grid-template-columns: repeat(1, 1fr) !important;

}

 
.same {
font-size: 28px !important;

}
.form__rights {
   width: 100% !important;

}
.form {
width: 88% !important;
}
.fom__lefts{
  display: none !important;
}
.first__input{
  width: 98% !important;
}
.Account{
  font-size: 14px !important;
  width: 90% !important;

}
.fom__left{
  display: none !important;
}
.form__rights__password{
  width: 90% !important;
}
.about__p {
  width: 85% !important;
}
.Terms__p {
width: 100% !important;
}
.TermsCondition {
  width: 100% !important;

}
.all__inputsss{
  margin-top: 52px !important;
}

.Send__send{
  width: 40% !important;
}
.contact{
  height: 155vh !important;
}

 
.gridfooter{

  display: none !important;
}
.gridfooters{
  display: none !important;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media  (min-width: 580px) and (max-width: 800px) {
  .header{
     width: 100%;

  }
  .body__secand {

    margin-top: 33px  !important;
  }
  .desgin__div{
    width: 390px !important;
  }
  .gridfooter{

    display: none !important;
  }
  .all__inputsss{
    margin-top: 52px !important;
  }
  body{
    width: 100%;
    overflow-x: hidden !important;
  }
  .Terms__p {
    width: 100% !important;
    }
    .TermsCondition {
      width: 100% !important;
    
    }
  .header__containrt{
    width: 99%;
    margin: auto;
  }
  .im__ge img{
    width: 84px;
  }
  a{
    padding: 10px !important;
  }
  .circel__body {
    display: none !important;
  }
  .box__Store{
    margin: 2px !important;
    padding: .5px !important;
    height: 33px !important;
  }
  .absu {
    right: 7% !important;
     }
     .box__shadow__container {
width: 100% !important;
     }
     .body___home__body {
       width: 90% !important;
     }
     .body___home__two{
       padding-top: -12px;
     }

     .text__part {
       font-size: 12px !important;
     }

     .section__end__parts {
       width: 80% !important;
     }
     .absu {
      right: 7% !important;
       }
      
    .Mask{
      margin: 0px !important;
    }
    .bodyprduct__one h1{
      font-size: 22px !important;
    }
    .p__products {
    width: 130% !important;
    }
    .section__containrt {
width: 82%  !important;
    }
    .grid__all {
       grid-template-columns: repeat(2, 1fr) !important;
      grid-auto-rows: auto;
      grid-gap: 1rem;
      width: 95% !important;
}
.body__one__dec {
   margin-top: 53px !important;
}

.fan {
  width: 99% !important;
  margin-top: -64px !important;
}



.end__all__sections {
  width: 100% !important; 
}

.form {
  width: 88% !important;
  }
   
  .first__input{
    width: 98% !important;
  }
  .Account{
    font-size: 14px !important;
    width: 90% !important;
  
  }


}

 @media (min-width: 800px) and (max-width: 992px) {
  .header{
     width: 100%;

  }
  .gridfooter{

    display: none !important;
  }
  .Terms__p {
    width: 90% !important;
    }
    .TermsCondition {
      width: 90% !important;
    
    }
  body{
    width: 100%;
    overflow-x: hidden !important;

  }
  .header__containrt{
    width: 95%;
    margin: auto;
  }
  .im__ge img{
    width: 84px;
  }
  a{
    padding: 10px !important;
  }
 .circel__body{
   display: none !important;
 }
 .section__right img {
width: 290px !important;
 }
 .absu {
right: 7% !important;
 }

 .face {
margin-right: -40% !important; 
}
.bodyprduct__one h1{
  font-size: 30px !important;
}
.p__products {
width: 130% !important;
}
.body__one__dec {
padding-top: 90px !important;
}
/* .body__secand {
margin-top: -55px !important;
} */
.grid__all {
   grid-template-columns: repeat(2, 1fr) !important;

}

.form {
  width: 88% !important;
  }
   
  .first__input{
    width: 98% !important;
  }
  .Account{
    font-size: 14px !important;
    width: 90% !important;
  
  }
}
body{
  overflow-x: hidden;
}
.select__lan{
  outline: none;
  border: none;
  color: #DBDBDB;
  font-weight: 600;
  font-size: 12px;
}

body[dir="rtl"]
 
  .body__secand{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
 width: 59%;
 float: left;
      
    
}
body[dir="rtl"]

.circel__body{
  left: 16%;

}
body[dir="rtl"]

.body__one{
  width: 52%;
  margin: auto;
 position: absolute;
   display: flex;
  top: 22%;
  right: 0;
  float: right;
   flex-direction: column;
    
  } 
  body[dir="rtl"]
  .body___home__one{
    width: 47%;
     float: left;
       display: flex;
    flex-direction: column;
   align-items: center;
    justify-content: center;
   }
  
   body[dir="rtl"]

   .body___home__two{
    float: right;
       position: relative;
    height: 300px;
    width: 52%;
    align-items: center;
   }
   body[dir="rtl"]

   .section__leaft{
     width: 60%;
     text-align: center;
    }
    body[dir="rtl"]

    .all__p__h{
      padding-top: 5px;
      line-height: 1.4;
      text-align: center;
      margin-bottom: 6px;
    }
    body[dir="rtl"]

    .end__section__continer img {
    width: 100%;
    }
    body[dir="rtl"]

    .section__end__parts__right {
float: left;
    }

    body[dir="rtl"]
    .bodyProduct__secand{
 direction: rtl;
 
    }
    body[dir="rtl"]

    .bodyProduct__secand{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 22px;
width: 33%;
 

}
    body[dir="rtl"]

    .bodyprduct__one{
      float: right;
      width:33%;
      margin: auto;
     position: absolute;
     right: -13%;
       display: flex;
       flex-direction: column;
    }
    body[dir="rtl"]

    .yellow{
      width: 15%;
   padding-top: 55px;
    float: left;
    right: 75%;
  position: absolute;
      height: 67vh;
     }
     body[dir="rtl"]

     .fan{
      width: 66%;
  }
  body[dir="rtl"]

  .body__one__dec {
 
    width:  44%;
  }
  body[dir="rtl"]

  .body__ones__as__dec{
    float: right;
text-align: center;
  }
  body[dir="rtl"]

  .decs{
    direction: ltr;

   }
   body[dir="rtl"]

   .form__rights{
float: left;
   }

   body[dir="rtl"]
.fom__lefts{
  float: right;
  text-align: right;
}
body[dir="rtl"]

.flex__tab{
  text-align: right;
}
body[dir="rtl"]
.bloc__tab {
  text-align: right;

}
body[dir="rtl"]
.pp p {
  text-align: right;

}
body[dir="rtl"]

.form__rights__password{
float: left;
}
body[dir="rtl"]

.fom__left{
  float: right;
  text-align: right;

}
body[dir="rtl"]

.form__rights__about{
  float: left;
  text-align: right;

}
body[dir="rtl"]

.fom__lefts__about{
  float: right;
}
body[dir="rtl"]

.about__p{
  text-align: right;

}
body[dir="rtl"]

.h__form__about{
  text-align: right;

}
body[dir="rtl"]

.form__right{
  float: left;
}
body[dir="rtl"]
.fom__lefts__contact{
  float: right;
  text-align: right;

}
body[dir="rtl"]

.inputt{
  text-align: right;
  padding-right: 4px;

}
body[dir="rtl"]

.h__form__tearms{
  text-align: right;
}
body[dir="rtl"]

.TermsCondition{
  width: 100%;
}
body[dir="rtl"]

.Terms__p{
  text-align: right;
}
body[dir="rtl"]

.div__a{
   color: white;
  font-size: 33px;
  width: 180px;

}
body[dir="rtl"]

.ct_footer{
  color: white;
   font-weight: bold;
   direction: rtl;
  padding: 25px 0px 12px 0px;
  font-size: 20px;
 }

 body[dir="rtl"]

 .gridfooters{
   text-align: right;
 }
/* .a__a{
  color: white;
  font-size: 20px;
  padding:4px 0px 8px 0;
  font-weight: 400;

} */
body[dir="rtl"]

.grid{
  text-align: right;
}
body[dir="rtl"]

.gridfooter{
  text-align: right;

}
body[dir="rtl"]
.a__as{
  color: white;
   font-weight: bold;
   font-size: 22px;
    padding:4px 0px 8px 0;
}
body[dir="rtl"]

.a__ass{
  color: white;
   font-weight: 600;
   font-size: 15px;
    padding:4px 0px 8px 0;
}


body[dir="rtl"]

.p__footer{
text-align: right;
}
body[dir="rtl"]

.contant__right{
float: left;
text-align: left;
}
body[dir="rtl"]

.contant__rleft{
  float: right;
  text-align: right;

}
 
 
body[dir="rtl"]
.text__text {
width: 70%;
height: 14vh;
 }
body[dir="rtl"]
.large{
  text-align: right;
  padding: 3px;
}
body[dir="rtl"]
.text__text{
  text-align: right;

}
body[dir="rtl"]

.div__send{
  direction: ltr;
  margin-top: 12px;
   text-align: right;
}
 
 
.a__as{
  color:  white !important;
   font-weight: 600;
   font-size: 18px;
    padding:4px 0px 8px 0;
}