 
 
 *{
   padding: 0;
   margin: 0;
 }


 @font-face {
  font-family:'Montserrat-Black' ;
  src: url("./Fonts/Montserrat-Black.ttf");
}

@font-face {
  font-family:'Montserrat-BlackItalic' ;
  src: url("./Fonts/Montserrat-BlackItalic.ttf");
}
@font-face {
  font-family:'Montserrat-Bold' ;
  src: url("./Fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family:'Montserrat-BoldItalic' ;
  src: url("./Fonts/Montserrat-BoldItalic.ttf");
}
@font-face {
  font-family:'Montserrat-ExtraBold' ;
  src: url("./Fonts/Montserrat-ExtraBold.ttf");
}


@font-face {
  font-family:'Montserrat-ExtraBoldItalic' ;
  src: url("./Fonts/Montserrat-ExtraBoldItalic.ttf");
}

@font-face {
  font-family:'Montserrat-ExtraLight' ;
  src: url("./Fonts/Montserrat-ExtraLight.ttf");
}
@font-face {
  font-family:'Montserrat-ExtraLightItalic' ;
  src: url("./Fonts/Montserrat-ExtraLightItalic.ttf");
}

@font-face {
  font-family:'Montserrat-Italic' ;
  src: url("./Fonts/Montserrat-Italic.ttf");
}

@font-face {
  font-family:'Montserrat-Light' ;
  src: url("./Fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family:'Montserrat-LightItalic' ;
  src: url("./Fonts/Montserrat-LightItalic.ttf");
}
@font-face {
  font-family:'Montserrat-Medium' ;
  src: url("./Fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family:'Montserrat-MediumItalic' ;
  src: url("./Fonts/Montserrat-MediumItalic.ttf");
}

@font-face {
  font-family:'Montserrat-Regular' ;
  src: url("./Fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family:'Montserrat-SemiBold' ;
  src: url("./Fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family:'Montserrat-SemiBoldItalic' ;
  src: url("./Fonts/Montserrat-SemiBoldItalic.ttf");
}


@font-face {
  font-family:'Montserrat-Thin' ;
  src: url("./Fonts/Montserrat-Thin.ttf");
}
@font-face {
  font-family:'Montserrat-ThinItalic' ;
  src: url("./Fonts/Montserrat-ThinItalic.ttf");
}
 

















 .header{
  background-color:#FFFFFF;
  width: 100%;
position: sticky;
   height: 93px;
 }
 .header__containrt{
   background-color: #FFFFFF;
   width: 70%;
   display: flex;
   height: 83px;
   align-items: center;
   margin: auto;
 }
 a{
  text-decoration: none;
  list-style-type: none;
  padding: 0px 15px 0px 15px;  
   font-weight: bolder;
  font-size: 11px;
  color: #3EC5EF;

  }
 
  ul{
    display: flex;
    align-items: center;
  }
  ul li{
    display: flex;
    align-items: center;

    list-style: none;
   }
  .com__ul{
    display: flex;
    align-items: center;
  }
  .circle{
  width: 19px;
  align-items: center;
  text-align: center;
  height: 19px;
  justify-content: space-evenly;
  border-radius: 50%;
  background-color: #3EC5EF;
  padding: 2px;
  margin: 5px;
  }
.order__noe{
  width: 80px;
height: 26px;
border-radius: 10px;
background-color: #3EC5EF;
border:none;
color:white;
font-weight: bold;
margin: 0px 12px 0px 12px;
font-size: 10px;

}
.personal{
  color: white;
}
ul li a.active{
  color: #4F2E85;
}
.im__ge{
  display: flex;
  align-items: center;
  flex: 1;
  padding: 12px;
}
 .im__ge img{
   width: 144px;

  }

   
  .footer{
    width: 100%;
    background-color: #4F2E85;
    height: 70vh;
    align-items: center;
    justify-content: center;

  }
  .footer__contaner{
    display: flex;
    width: 90%;
    margin: auto;
    height: 50vh;
     padding-top: 55px;
   }
  .part{
    display: block;
    padding-top: 25px;
    width: 30%;
   }.ul{
    display: block;
  }
  .grid__all{
    display: flex;
    justify-content: space-between;
   }
  .a__a{
    color: white;
    font-size: 20px;
    padding:8px 0px 8px 0;
    font-weight: bold;

  }
  .ct_footer{
    margin-bottom: 12px;
  }
  .p__footer{
    padding-top:12px ;
    font-family: 'Comfortaa';
    font-weight: bold;
    font-size: 15px;
    color: #DCDCDC;
    width: 66%;
  }
  .App__stores{
    display: flex;
    padding-top: 30px;
    align-items: center;
    
  }
  .ct_footer{
    color: white;
    font-family: 'Comfortaa';
    font-weight: bold;
    padding: 30px 0px 22px 0px;
    font-size: 25px;
   }
    .hr__h{
      width: 66%;
      margin:5px auto;
      height: 1;
      border-top: 2px  #ffffff96;
       color: #ffffff96;
    }
    .bottom{
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 12px 0;
      font-size: 18px;
      color: white;
    }
    .div__a{
      display: flex;
       justify-content: space-between;
      width: 220px;
      align-items: center;
    }
    .boxx__Store{
      display: flex;
        margin: 5px;
       padding: 2px;
      height: 30px;
      width: 105px;
       border-radius: 7px;
       border: 1px solid rgb(194, 194, 194);
    
    }
    .dilog{
      width: 265px;
      height: 266px;
       display: flex;
       position: relative;
       flex-direction: column;
       border-radius: 5px;
       background-color: #FFFFFF;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
 
     .massg{
      height: 150px;
      width: 140px;
  overflow-y: auto;

        position: absolute !important;  
               top: -28%;
      }
    .di__log{
      width: 72%;
      color: #6D4BD8;
      font-size: 18px;
      padding: 12px 0px 12px 0px;
      font-family:'Montserrat-SemiBold' ;

    }
    .css-1t1j96h-MuiPaper-root-MuiDialog-paper{

     /* background-color: rgba(202, 202, 202, 0) !important; */
     -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 5px;
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
    margin: 32px;
     overflow-y: auto;
   
    display: flex;
    -webkit-flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 490px;
    /* height: 500px; */
    max-height: calc(100% - 64px);
    max-width: 640px;
}
